<!-- <p (click)="getProducts()">getProducts</p>
<p (click)="addProduct()">addProduct</p>
<p (click)="updateProduct()">updateProduct</p>
<p (click)="deleteProduct()">deleteProduct</p> -->

<div class="module-container">

  <div fxLayout="row"
       fxLayoutAlign="space-between end"
       [style.margin-bottom]="'1rem'">
    <h2 [style.margin]="0">產品列表</h2>
    <a mat-raised-button
       color="primary"
       [routerLink]="['../add']">新增產品</a>
  </div>

  <mat-divider></mat-divider>

  5
</div>