<div class="module-container">

  <mat-tab-group>

    <!-- Product -->
    <mat-tab>

      <!-- Label -->
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">thumb_up</mat-icon>
        產品
      </ng-template>

      <!-- Content Header -->
      <div fxLayout="row"
           fxLayoutAlign="space-between end"
           [style.margin]="'1rem 0'">
        <h2 [style.margin]="0">
          產品列表
        </h2>
        <button type="button"
                mat-raised-button
                color="primary"
                (click)="showAddProduct();">
          新增產品
        </button>
      </div>
      <mat-divider></mat-divider>

      <!-- Content -->
      <div *ngIf="ui.loadingProducts else TplProductTable"
           fxLayout="row"
           fxLayoutAlign="center center"
           [style.padding]="'1rem'">

        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
      </div>

      <!-- Product Table -->
      <ng-template #TplProductTable>
        <table *ngIf="productList.length > 0; else TplNoData"
               mat-table
               [dataSource]="productList"
               class="mat-elevation-z8">

          <!-- IndexColumn -->
          <ng-container [matColumnDef]="IndexColumn">
            <th mat-header-cell
                *matHeaderCellDef> # </th>
            <td mat-cell
                *matCellDef="let element; let index = index;">
              {{ (productPage.pageSize * productPage.pageIndex) + index + 1 }}
            </td>
          </ng-container>

          <!-- PCColumn.type -->
          <ng-container [matColumnDef]="PCColumn.type">
            <th mat-header-cell
                *matHeaderCellDef> 產品類別 </th>
            <td mat-cell
                *matCellDef="let element"> {{ element[Table.ProductCategory][PCColumn.type] }} </td>
          </ng-container>

          <!-- PColumn.label -->
          <ng-container [matColumnDef]="PColumn.label">
            <th mat-header-cell
                *matHeaderCellDef> 名稱 </th>
            <td mat-cell
                *matCellDef="let element"> {{ element[PColumn.label] }} </td>
          </ng-container>

          <!-- PColumn.value -->
          <ng-container [matColumnDef]="PColumn.value">
            <th mat-header-cell
                *matHeaderCellDef> 價格 </th>
            <td mat-cell
                *matCellDef="let element"> {{ element[PColumn.value] }} </td>
          </ng-container>

          <tr mat-header-row
              *matHeaderRowDef="productColumns"></tr>
          <tr mat-row
              *matRowDef="let row; columns: productColumns"></tr>
        </table>
      </ng-template>

      <mat-paginator [length]="productPage.length"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="onProductPage($event);">
      </mat-paginator>

    </mat-tab>

    <!-- Product Category -->
    <mat-tab>

      <!-- Label -->
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">category</mat-icon>
        產品類別
      </ng-template>

      <!-- Content Header -->
      <div fxLayout="row"
           fxLayoutAlign="space-between end"
           [style.margin]="'1rem 0'">
        <h2 [style.margin]="0">
          產品類別列表
        </h2>
        <button type="button"
                mat-raised-button
                color="primary"
                (click)="showAddProductCategory();">
          新增產品類別
        </button>
      </div>
      <mat-divider></mat-divider>

      <!-- Content -->
      <div *ngIf="ui.loadingCategories else TplCategoryList"
           fxLayout="row"
           fxLayoutAlign="center center"
           [style.padding]="'1rem'">

        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
      </div>

      <!-- Product Category Table -->
      <ng-template #TplCategoryList>
        <table *ngIf="categoryList.length > 0; else TplNoData"
               mat-table
               #CategoryTable
               [dataSource]="categoryList"
               class="mat-elevation-z8"
               cdkDropList
               [cdkDropListData]="categoryList"
               (cdkDropListDropped)="categoryDrop($event);">

          <!-- ColumnOperation -->
          <ng-container [matColumnDef]="ColumnOperation">
            <th mat-header-cell
                *matHeaderCellDef> 操作 </th>
            <td mat-cell
                *matCellDef="let element; let index = index">
              <mat-icon cdkDragHandle
                        class="drag-handle">reorder</mat-icon>
              <mat-icon class="pointer"
                        (click)="editCategory(index)">edit</mat-icon>
            </td>
          </ng-container>

          <!-- PCColumn.order -->
          <ng-container [matColumnDef]="PCColumn.order">
            <th mat-header-cell
                *matHeaderCellDef> 順序 </th>
            <td mat-cell
                *matCellDef="let element; let index = index;"> {{ index + 1 }} </td>
          </ng-container>

          <!-- PCColumn.type -->
          <ng-container [matColumnDef]="PCColumn.type">
            <th mat-header-cell
                *matHeaderCellDef> 產品類別 </th>
            <td mat-cell
                *matCellDef="let element"> {{ element[PCColumn.type] }} </td>
          </ng-container>

          <tr mat-header-row
              *matHeaderRowDef="categoryColumns"></tr>
          <tr mat-row
              *matRowDef="let row; columns: categoryColumns"
              cdkDrag
              cdkDragLockAxis="y"
              [cdkDragData]="row"></tr>
        </table>
      </ng-template>

      <div fxLayout="row"
           fxLayoutAlign="end center">
        <button type="button"
                (click)="updateCategoryOrder();"
                mat-raised-button
                [disabled]="!ui.categoryOrderModified || ui.updatingCategoryOrder"
                [color]="'primary'">
          <i *ngIf="!ui.updatingCategoryOrder else TplNotUpdating"
             class="material-icons">check</i>
          <ng-template #TplNotUpdating>
            <mat-progress-spinner [diameter]="20"
                                  [style.display]="'inline-block'"
                                  [mode]="'indeterminate'"></mat-progress-spinner>
          </ng-template>
          確認修改
        </button>
      </div>

    </mat-tab>

  </mat-tab-group>

  <ng-template #TplNoData>
    <h3 [style.margin]="'1rem'"
        fxLayout="row"
        fxLayoutAlign="center center">查無資料</h3>
  </ng-template>

</div>
