<!-- <p (click)="getProducts()">getProducts</p>
<p (click)="addProduct()">addProduct</p>
<p (click)="updateProduct()">updateProduct</p>
<p (click)="deleteProduct()">deleteProduct</p> -->

<div class="module-container">

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">thumb_up</mat-icon>
        產品
      </ng-template>
      <div fxLayout="row"
           fxLayoutAlign="space-between end"
           [style.margin]="'1rem 0'">
        <h2 [style.margin]="0">
          產品列表
        </h2>
        <button type="button"
                mat-raised-button
                color="primary"
                (click)="showAddProduct();">
          新增產品
        </button>
      </div>

      <mat-divider></mat-divider>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">category</mat-icon>
        產品類別
      </ng-template>
      Content 2
    </mat-tab>

  </mat-tab-group>

</div>