<div fxLayout="row"
     fxLayoutAlign="start center"
     [style.margin-bottom]="'16px'">
  <h2 [style.margin-bottom]="'0'">
    {{ModeText[data.mode]}}產品
  </h2>
</div>

<form [formGroup]="form"
      (ngSubmit)="onSubmit();">
  <div>
    <mat-form-field class="w-100"
                    appearance="fill">
      <mat-label>產品類別
        <mat-progress-spinner *ngIf="ui.getCategories;"
                              [diameter]="15"
                              [style.display]="'inline-block'"
                              [mode]="'indeterminate'"></mat-progress-spinner>
      </mat-label>
      <mat-select [formControlName]="PColumn.product_category_id">
        <mat-option *ngIf="categoryList.length === 0"
                    disabled="">
          請先新增產品類別
        </mat-option>
        <mat-option *ngFor="let category of categoryList"
                    [value]="category[SColumn.id]">
          {{ category[PCColumn.type] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="button"
            mat-raised-button
            [disabled]="false"
            (click)="addProductCategory();"
            [color]="'primary'">
      <ng-template>
        <mat-progress-spinner [diameter]="20"
                              [style.display]="'inline-block'"
                              [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      新增產品類別
    </button>
  </div>

  <mat-form-field class="w-100"
                  appearance="standard">
    <mat-label>產品名稱</mat-label>
    <input type="text"
           matInput
           [formControlName]="PColumn.label"
           placeholder="請輸入產品名稱">
    <!-- <mat-error *ngIf="form.controls[PColumn.label].hasError('TypeExisted')">
      產品類別 <strong>{{ form.value[PColumn.label] }} </strong>已存在
    </mat-error> -->
  </mat-form-field>

  <mat-form-field class="w-100"
                  appearance="standard">
    <mat-label>價格</mat-label>
    <input type="number"
           matInput
           [formControlName]="PColumn.value"
           placeholder="請輸入價格">
    <!-- <mat-error *ngIf="form.controls[PColumn.label].hasError('TypeExisted')">
      產品類別 <strong>{{ form.value[PColumn.label] }} </strong>已存在
    </mat-error> -->
  </mat-form-field>

  <div fxLayout="row"
       fxLayoutAlign="end center">
    <button type="submit"
            mat-raised-button
            [disabled]="form.invalid || ui.submitting"
            [color]="'primary'">
      <i *ngIf="!ui.submitting else TplNotSubmitting"
         class="material-icons">check</i>
      <ng-template #TplNotSubmitting>
        <mat-progress-spinner [diameter]="20"
                              [style.display]="'inline-block'"
                              [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      確認
    </button>
  </div>
</form>
