<div class="main-container"
     [class.main-is-mobile]="mobileQuery.matches">

  <!-- Header -->
  <mat-toolbar class="main-toolbar">
    <button mat-icon-button
            (click)="Sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="main-app-name">CRM</h1>
  </mat-toolbar>

  <!-- Sidenav -->
  <mat-sidenav-container class="main-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #Sidenav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item
           [routerLink]="navItem.routerLink"
           *ngFor="let navItem of NavList">
          <mat-icon>{{ navItem.icon }}</mat-icon>
          <span class="nav-item-label">
            {{ navItem.label }}
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
